rules_version = '2';
service cloud.firestore {
  function isValidTag(tag,id){
    return tag.size() == 3
    && 'id' in tag
    && tag.id is string
    && tag.id == id
    && 'name' in tag
    && tag.name is string
    && tag.name.size() > 0 && tag.name.size() <= 100
    && 'createdAt' in tag
    && tag.createdAt is timestamp
  }

  function isValidCard(card,id,deckId, uid){
    return card.size() == 7
    && 'id' in card
    && card.id is string
    && card.id == id
    && 'deckId' in card
    && card.deckId is string
    && card.deckId == deckId
    && 'uid' in card
    && card.uid is string
    && card.uid == uid
    && 'question' in card
    && card.question is string
    && card.question.size() > 0 && card.question.size() <= 100
    && 'answer' in card
    && card.answer is string
    && card.answer.size() > 0 && card.answer.size() <= 100
    && 'index' in card
    && card.index is int
    && card.index >= 0 && card.index < 100
    && 'published' in card
    && card.published is bool
  }

  function isValidDeck(deck,uid, deckId){
    return deck.size() == 6
    && 'id' in deck
    && deck.id is string
    && deck.id == deckId
    && 'uid' in deck
    && deck.uid is string
    && deck.uid == uid
    && 'name' in deck 
    && deck.name is string
    && deck.name.size() > 0 && deck.name.size() <= 50
    && 'cardLength' in deck
    && deck.cardLength is int
    && deck.cardLength > 0 && deck.cardLength <= 100
    && 'createdAt' in deck
    && deck.createdAt is timestamp
    && 'published' in deck
    && deck.published is bool
  }

  function isValidDeckPrivateFields(fields,uid,deckId){
    return fields.size() == 3
    && 'uid' in fields
    && fields.uid is string
    && fields.uid == uid
    && 'tagIds' in fields
    && fields.tagIds is list
    && fields.tagIds.size() <= 100
    && 'deckId' in fields
    && fields.deckId is string
    && fields.deckId == deckId
  }

  function isAuth(userId){
    return request.auth != null && request.auth.uid == userId;
  }

  function isPublic() {
    return resource.data.published == true;
  }
  function isAuthField(){
    return request.auth != null && resource.data.uid == request.auth.uid;
  }

  match /databases/{database}/documents {
    match /users/undefined/{document=**} {
      allow read, write: if false;
    }

    match /{path=**}/decks/{deckId} {
      allow get: if (isAuthField() || isPublic()) && exists(request.path);
      allow list: if (isAuthField() || isPublic())
    }
    
    match /{path=**}/cards/{cardId} {
      allow get: if (isAuthField() || isPublic()) && exists(request.path);
      allow list: if (isAuthField() || isPublic())
    }

    match /{path=**}/private/{one} {
      allow get: if isAuthField() && exists(request.path);
      allow list: if isAuthField();
    }

    match /users/{userId} {
      match /tags/{tagId} {
        allow create: if isAuth(userId) && isValidTag(request.resource.data, tagId);
        allow update: if isAuth(userId) && isValidTag(request.resource.data, tagId);
        allow delete: if isAuth(userId);

        allow get: if isAuth(userId) && exists(request.path);
        allow list: if isAuth(userId);
      }

      match /decks/{deckId} {
        allow create: if isAuth(userId) && isValidDeck(request.resource.data, userId, deckId);
        allow update: if isAuth(userId) && isValidDeck(request.resource.data, userId, deckId);
        allow delete: if isAuth(userId);

        allow get: if isAuth(userId) && exists(request.path);
        allow list: if isAuth(userId);

        match /private/1 {
          allow create: if isAuth(userId) && isValidDeckPrivateFields(request.resource.data, userId, deckId);
          allow update: if isAuth(userId) && isValidDeckPrivateFields(request.resource.data, userId, deckId);
          allow delete: if isAuth(userId)
        }

        match /cards/{cardId} {
          allow create: if isAuth(userId) && isValidCard(request.resource.data, cardId, deckId, userId);
          allow update: if isAuth(userId) && isValidCard(request.resource.data, cardId, deckId, userId);
          allow delete: if isAuth(userId);

          allow get: if isAuth(userId) && exists(request.path);
          allow list: if isAuth(userId);
        }
      }
    }
  }
}